<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="{{ .Language.LanguageDirection | default "auto" }}">
<head>
  {{- partial "head.html" . -}}
</head>
<body 
  id="top"
  class="
    {{- if or (ne .Kind `page`) (eq .Layout `archives`) (eq .Layout `search`) -}}
      list
    {{- end -}}
    {{- if eq .Site.Params.defaultTheme `dark` -}}
      dark
    {{- end -}}
  "
>
  {{- partialCached "header.html" . .Page -}}

  <main class="main">
    {{- block "main" . }}{{- end }}
  </main>

  {{- partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}

  <!-- Scripts -->
  <script src="https://unpkg.com/lucide@latest"></script>
  <script>
    lucide.createIcons();
  </script>
</body>
</html>
