.layout-split .post-body {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.layout-split .post-toc {
  flex: 0 0 250px;
  max-width: 250px;
  font-size: 0.9em;
  position: sticky;
  top: 5rem;
  align-self: flex-start;
  background-color: rgba(240, 240, 240, 0.1);
  padding: 1rem;
  border-left: 2px solid var(--primary);
}

.layout-split .post-main {
  flex: 1;
}
